
{% extends 'base.html' %}

{% block contents %}
<style>
    div.wrapper{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    div.wrapper *{
        display: inline-block;
        margin: 1%;
        text-align: center;
        
    }
</style>

<div class="wrapper">
    <h1>수정하기</h1>

    <form action="" method = "POST">
        {% csrf_token %}
        
        <table>
            {{form.as_table}}
        </table>
        <br>
        <input type="submit" value="수정하기">

    </form>
</div>

{% endblock %}